@media (min-width: 576px) {
  body {
    background: linear-gradient(90deg, #e26d20 50%, white 50%);
  }
}

@media (max-width: 576px) {
  body {
    background: #e26d20;
  }
}

@font-face {
  font-family: Blur;
  src: url('assets/Blur_Medium.ttf');
}

a:hover {
  text-decoration: none;
}

h2 {
  font-family: Blur;
}

#lorem {
  white-space: pre-wrap;
}

@media (min-width: 576px) {
  .lorem {
    color: #343a40;
  }
}

@media (max-width: 576px) {
  .lorem {
    color: #f8f9fa;
  }
}

.btn-primary {
  background-color: #034da0;
  border-color: #034da0;
}

.btn-outline-light:hover {
  background-color: #034da0;
  border-color: #034da0;
  color: white;
}

/* Number Input */
.quantity {
  position: relative;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button

{
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.quantity input {
  width: 3em;
  height: 2.4em;
  line-height: 1.65;
  float: left;
  display: block;
  padding: 0;
  margin: 0;
  padding-left: 10px;
  border: 1px solid #eee;
}

.quantity input:focus {
  outline: 0;
}

.quantity-nav {
  float: left;
  position: relative;
  height: 2.3em;
}

.quantity-button {
  position: relative;
  cursor: pointer;
  border-left: 1px solid #eee;
  width: 20px;
  text-align: center;
  color: #333;
  font-size: 13px;
  font-family: "Trebuchet MS", Helvetica, sans-serif !important;
  line-height: 1.7;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.quantity-button.quantity-up {
  position: absolute;
  height: 50%;
  top: 0;
  border-bottom: 1px solid #eee;
}

.quantity-button.quantity-down {
  position: absolute;
  bottom: 1px;
  height: 50%;
}