@media (min-width: 576px) {
  body {
    background: linear-gradient(90deg, #e26d20 50%, white 50%);
  }
}

@media (max-width: 576px) {
  body {
    background: #e26d20;
  }
}

@font-face {
  font-family: Blur;
  src: url('assets/Blur_Medium.ttf');
}

a:hover {
  text-decoration: none;
}

h1 {
  font-family: Blur;
}

#lorem {
  white-space: pre-wrap;
}

@media (min-width: 576px) {
  .lorem {
    color: #343a40;
  }
}

@media (max-width: 576px) {
  .lorem {
    color: #f8f9fa;
  }
}

.btn-primary {
  background-color: #034da0;
  border-color: #034da0;
}

.btn-outline-light:hover {
  background-color: #034da0;
  border-color: #034da0;
  color: white;
} 